{% extends "base.html" %}
{% block content %}
  <h1>{{corpTicker}} {{description}} stocks</h1>
  <div class="row">
    <div class="span12">
      {% for stn in report.stns() %}
        <h4><a href="http://evemaps.dotlan.net/search?q={{ stn.name }}">{{ stn.name }}</a></h4>
        {% for loc in stn.locs() %}
          <b>Location: {{ loc.name }}</b>
          <table class="table">
            <th>
              <tr>
                <td>Item</td>
                <td>Current stock</td>
                <td>Target stock</td>
                <td>Percentage</td>
              </tr>
            </th>
            {% for item in loc.items() %}
              <tr>
                <td> {{ item.name }} </td>
                <td> {{ item.have }} </td>
                {% if item.have and item.target > 0 %}
                  <td> {{ item.target  }} </td>
                  <td> {{ "%.1f%%"|format(item.percent) }} </td>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
